// ----------------------------------------------------
// ----- VARIABLES -----
// ----------------------------------------------------

// --- Font ---
$font-base: 'Montserrat', sans-serif;

// --- Colors ---
$white: #fff;
$black: #000;
$vermilion: #FF4419;
$dove-gray: #707070;
$gray: #898989;
$alto: #DBDBDB;

// --- Animation ---

// --- Media Queries ---
$mobile_land__640: "(min-width: 640px)";
$tablet__768: "(min-width: 768px)";
$tablet_land__1024: "(min-width: 1024px)";
$desktop__1280: "(min-width: 1280px)";
$large__screens__1440: "(min-width: 1440px)";
$full__screens__1600: "(min-width: 1600px)";
$HD__screens__1920: "(min-width: 1920px)";
$max__screen__2560: "(min-width: 1921px) and (max-width: 2560px)";

// ----- END OF VARIABLES -----
